# Front-end 

## dependencies
/client/node_modules
/client/.pnp
/client/.pnp.js

## testing
/client/coverage

## production
/client/build

## misc
/client/.DS_Store
/client/.env.local
/client/.env.development.local
/client/.env.test.local
/client/.env.production.local

/client/npm-debug.log*
/client/yarn-debug.log*
/client/yarn-error.log*

# Back-end

## Test data files of court decision
/backend/**/ignored_*

## compiled output
/backend/dist
/backend/node_modules

## Logs
/backend/logs
/backend/*.log
/backend/npm-debug.log*
/backend/yarn-debug.log*
/backend/yarn-error.log*
/backend/lerna-debug.log*

## OS
/backend/.DS_Store

## Tests
/backend/coverage
/backend/.nyc_output
