LABEL_DB_URL=mongodb://labelDb:55431
LABEL_DB_NAME=labelDb
LABEL_CLIENT_URL=http://localhost:55432
LABEL_API_PORT=55430
DBSDER_API_URL=http://dbsder-api-dbsder-api-1:3000
DBSDER_API_KEY=3d8767ff-ed2a-47bd-91c2-f5ebac712f2c
DBSDER_API_VERSION=v1
NLP_PSEUDONYMISATION_API_URL=http://host.docker.internal:8081
NLP_PSEUDONYMISATION_API_ENABLED=false
JWT_PRIVATE_KEY=myPrivateKey
SDER_DB_URL=http://127.0.0.1:55433
RUN_MODE=LOCAL
