---
- name: Deploy namespace
  import_tasks: namespace.yml

- name: Deploy PVC
  include_tasks: persistentVolumeClaim.yml

- name: Deploy configmap
  include_tasks: configmap.yml

- name: Deploy secret
  include_tasks: '{{item}}'
  loop: "{{ lookup('fileglob', 'secrets/*.yml', wantlist=True ) }}"

- name: Deploy backend deployment
  include_tasks: deployment.yml

- name: Deploy backend jobs
  include_tasks: cronjob.yml
  loop: "{{ jobs }}"
  loop_control:
    loop_var: job

- name: Deploy service
  include_tasks: service.yml

- name: Deploy ingress
  import_tasks: ingress.yml
