body {
  margin: 0;
}

@font-face {
  font-weight: 'normal';
  font-family: 'Montserrat';
  src: local('Montserrat'), url('./assets/fonts/Montserrat/Montserrat-Regular.ttf') format('truetype');
}

@font-face {
  font-weight: 'bold';
  font-family: 'Montserrat-Bold';
  src: local('Montserrat-Bold'), url('./assets/fonts/Montserrat/Montserrat-Bold.ttf') format('truetype');
}
